.cart-bg {
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1628326588294.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=l53134cfgZzbPh53jUlfHQ5UMMVD2MEff2dg7Dv17NML7GcWnpVMZfWfEX%2FLCUBb7ievNt4cZM4xpWKUWN116jX2Ra74RNS%2BUngs%2B3D%2FX%2FkN1xkulYCEah6fcE4aV4HmaP6a%2B%2B4PA78q1N38dNNtQXNurBNZDoAMTgotO2bHtuDdUJk3Qs5v3CMBqqzCVUg1hrJtGP47t2teuzshnhIuhSKPuDu2xBZTnaDTKZr%2BGtBDh%2BR6PXjxeGp2W6b7HcOiA1dlsDDkd0TN5WT26NFfl5hsu4gqXa1%2BiyctCQ4kbAPNLHpWDPyBsPwSuzvKhHfIJAAUfbLlMD6v7dnLwRSt6g%3D%3D);
  width: 250px;
  height: 250px;
}
.cart-img {
  width: 120px;
  height: 120px;
}