.favorite-img {
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1628326804277.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=RCI3goWePuYz2TKgf3%2BeXGlPpS%2BVxNHsk0qXoH05gXR%2BTLzgiQ27iGawv3Nt%2F0pJtgYPraf3AS2dkYqw%2BdZNkBGmzfG73YisMWjAs8v8qNQT7c2lee7iByptBv8pse5H7CgFhKqrIfx65G%2BoN5OIJR88X%2Bx0WqxyhNd7DT3MyNQYwSUMRvgzwfnCwERpQ%2FWLvA7gbSk5zg%2F%2FIWBrTz9ZIIdFqAcnsuI7G9w5fbn3PmznEJefbY3b1Sa93pySsjxYDQ%2B7qgBIz70gHkYbYZzx5BiCPgQ%2Bcv0gkXgXdzqt8dkUuVFgLnYo5YAN3ANjSB%2BtBYDXPb1vYS8wEtihg2Cbpg%3D%3D);
  width: 250px;
  height: 250px;
}
